#register {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 20px;
    background-color: orange;
}

.form-data {
    background-color: gray;
    box-shadow: 2px 3px 50px black;
    padding: 30px;
}

.form-data input {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    background-color: rgb(207, 204, 10);
    height: 30px;
    width: 300px
        /* height: 100vh; */
}

#btn-reg {
    margin-top: 20px;
    width: 100px;
    height: 30px;
    border-radius: 20px;
    background-color: orchid;
    color: white;
    cursor: pointer;
}